# Import Libraries

In [43]:
pip install import-ipynb

Requirement already satisfied: import-ipynb in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (0.1.4)
Requirement already satisfied: nbformat in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from import-ipynb) (5.4.0)
Requirement already satisfied: IPython in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from import-ipynb) (8.3.0)
Requirement already satisfied: pickleshare in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (0.7.5)
Requirement already satisfied: backcall in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (0.2.0)
Requirement already satisfied: stack-data in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (0.2.0)
Requirement already satisfied: decorator in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (5.2.1.post0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (2.12.0)
Requirement already satisfied: jedi>=0.16 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (3.0.29)
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (58.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from IPython->import-ipynb) (0.1.3)
Requirement already satisfied: jsonschema>=2.6 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nbformat->import-ipynb) (4.5.1)
Requirement already satisfied: fastjsonschema in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nbformat->import-ipynb) (2.15.3)
Requirement already satisfied: jupyter-core in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nbformat->import-ipynb) (4.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->IPython->import-ipynb) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (21.4.0)
Requirement already satisfied: wcwidth in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->import-ipynb) (0.2.5)
Requirement already satisfied: pywin32>=1.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core->nbformat->import-ipynb) (304)
Requirement already satisfied: pure-eval in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from stack-data->IPython->import-ipynb) (0.2.2)
Requirement already satisfied: asttokens in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from stack-data->IPython->import-ipynb) (2.0.5)
Requirement already satisfied: executing in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from stack-data->IPython->import-ipynb) (0.8.3)
Requirement already satisfied: six in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from asttokens->stack-data->IPython->import-ipynb) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\Users\USER\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import import_ipynb

# Import Dataset

In [40]:
import data_analysation

# Define x and y

In [45]:
df = data_analysation.dataset
df.describe()

,age,bmi,children,charges,Gender,Smoker,Northeast,Northwest,Southeast,Southwest
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,9.098659,0.494768,0.204783,0.242152,0.242900,0.272048,0.242900
std,14.049960,6.098187,1.205493,0.919527,0.500160,0.403694,0.428546,0.428995,0.445181,0.428995
min,18.000000,15.960000,0.000000,7.022756,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,26.296250,0.000000,8.463853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39.000000,30.400000,1.000000,9.146552,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,34.693750,2.000000,9.719558,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,64.000000,53.130000,5.000000,11.063045,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Preprocessing Dataset

In [46]:
#Creating dummy variables for the catergorical variable sex
df['Gender']=np.where(df['sex']=='female',1,0)

#Drop original column of sex
df.drop(columns=['sex'],axis=1,inplace=True)

KeyError: 'sex'

In [47]:
#Creating dummy variables for the catergorical variable smoke
df['Smoker']=np.where(df['smoker']=='yes',1,0)

#Drop original column of smoke
df.drop(columns=['smoker'],axis=1,inplace=True)

KeyError: 'smoker'

In [48]:
df.head()

,age,bmi,children,charges,Gender,Smoker,Northeast,Northwest,Southeast,Southwest
0,19,27.900,0,9.734176,1,1,0,0,0,1
1,18,33.770,1,7.453302,0,0,0,0,1,0
2,28,33.000,3,8.400538,0,0,0,0,1,0
3,33,22.705,0,9.998092,0,0,0,1,0,0
4,32,28.880,0,8.260197,0,0,0,1,0,0

In [ ]:
#Create dummy variables for the categorical varable region
df['Northeast'] = np.where(df['region']=='northeast',1,0)
df['Northwest'] = np.where(df['region']=='northwest',1,0)
df['Southeast'] = np.where(df['region']=='southeast',1,0)
df['Southwest'] = np.where(df['region']=='southwest',1,0)

#Drop original column of region
df.drop(columns=['region'],axis=1,inplace=True)

In [ ]:
df.head()

,age,bmi,children,charges,Gender,Smoker,Northeast,Northwest,Southeast,Southwest
0,19,27.900,0,16884.92400,1,1,0,0,0,1
1,18,33.770,1,1725.55230,0,0,0,0,1,0
2,28,33.000,3,4449.46200,0,0,0,0,1,0
3,33,22.705,0,21984.47061,0,0,0,1,0,0
4,32,28.880,0,3866.85520,0,0,0,1,0,0

In [ ]:
print(df)

      age     bmi  children      charges  Gender  Smoker  Northeast  \
0      19  27.900         0  16884.92400       1       1          0
1      18  33.770         1   1725.55230       0       0          0
2      28  33.000         3   4449.46200       0       0          0
3      33  22.705         0  21984.47061       0       0          0
4      32  28.880         0   3866.85520       0       0          0
...   ...     ...       ...          ...     ...     ...        ...
1333   50  30.970         3  10600.54830       0       0          0
1334   18  31.920         0   2205.98080       1       0          1
1335   18  36.850         0   1629.83350       1       0          0
1336   21  25.800         0   2007.94500       1       0          0
1337   61  29.070         0  29141.36030       1       1          0

      Northwest  Southeast  Southwest
0             0          0          1
1             0          1          0
2             0          1          0
3             1          0          0
4             1          0          0
...         ...        ...        ...
1333          1          0          0
1334          0          0          0
1335          0          1          0
1336          0          0          1
1337          1          0          0

[1338 rows x 10 columns]

In [ ]:
from scipy.stats import boxcox
y_bc,lam, ci= boxcox(df['charges'],alpha=0.05)

ci,lam

((-0.01140290617294196, 0.0988096859767545), 0.043649053770664956)

In [ ]:
## Log transform
df['charges'] = np.log(df['charges'])

In [ ]:
print(df)

,age,bmi,children,charges,Gender,Smoker,Northeast,Northwest,Southeast,Southwest
0,19,27.900,0,9.734176,1,1,0,0,0,1
1,18,33.770,1,7.453302,0,0,0,0,1,0
2,28,33.000,3,8.400538,0,0,0,0,1,0
3,33,22.705,0,9.998092,0,0,0,1,0,0
4,32,28.880,0,8.260197,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,9.268661,0,0,0,1,0,0
1334,18,31.920,0,7.698927,1,0,1,0,0,0
1335,18,36.850,0,7.396233,1,0,0,0,1,0
1336,21,25.800,0,7.604867,1,0,0,0,0,1
1337,61,29.070,0,10.279914,1,1,0,1,0,0

In [ ]:
dependent_variable ='charges'

In [ ]:
#Creating a list of Independent Variables
independent_variables = df.columns.tolist()

In [ ]:
independent_variables.remove(dependent_variable)

In [ ]:
independent_variables

['age',
 'bmi',
 'children',
 'Gender',
 'Smoker',
 'Northeast',
 'Northwest',
 'Southeast',
 'Southwest']